
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_page.cshtml";
}

<div id="message" class="sufee-alert alert with-close alert-success alert-dismissible fade show message">
    <span id="alt-msge">
        Your Request is Approved
    </span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row header-font" style="margin-left:3px;">
    Check your admission form request status.
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group batch_name">
                    <select class="form-control" id="batch_name">
                        <option value="0">--Course--</option>
                        @foreach (var s in ViewBag.course as List<WebApplication1.Models.Batch_header>)
                        {
                            <option value="@s.Bh_id">@s.Batch_Name</option>
                        }
                    </select>
                    <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Enter a Course Name</span>
                </div>

                @*<input type="text" class="form-control" />*@
            </div>

            <div class="col-md-5 ID_cardno">
                <input type="text" class="form-control" id="ID_cardno" placeholder="Enter ID Card No." />
                <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Enter ID Card No.</span>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" id="search">Search</button>
            </div>
        </div>
    </div>

    <div class="col-md-6 text-right">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Login")'">login</button>
    </div>
</div>
<br />
<div class="row">


    @foreach (var s in ViewBag.courselist as List<WebApplication1.Models.New_Course>)
    {
        <div class="col-md-4">
            <div class="header header-font">
                <b>@s.BATCH_NAME</b>
            </div>
            <div class="caption">
                <img src="@Url.Content(@s.img)" class="img-full-width" alt="" data-toggle="modal" data-target="#myModal" />
                @*<h3>
                    @s.Course_desc
                </h3>*@

            </div>

            <div class="bottom header-font">
                @{ var current_date = DateTime.Now.Date;}
                @if (s.bh_end_date.Date >= current_date)
                {
                    <p>
                        Last Date :   @s.bh_end_date.ToString("dd-MM-yyyy")
                        <button class="btn btn-info" onclick="location.href='@Url.Action("Index", "Registor", new { id = s.bh_id , end_date = s.bh_end_date })'">Registor</button>
                    </p>
                }
                else
                {
                    <div class="btn btn-danger">
                        Registration seats full
                    </div>
                }
            </div>
        </div>

       


                    }

</div>


@*<div class="row">
        @foreach (var s in ViewBag.courselist as List<WebApplication1.Models.New_Course>)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title mb-3">@s.BATCH_NAME</strong>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <div class="location text-sm-center">
                                @s.Course_desc
                            </div>
                        </div>
                        <hr>
                        @{ var current_date = DateTime.Now.Date;}
                        @if (s.bh_end_date.Date >= current_date)
                        {
                            <div class="card-text text-sm-center">
                                <div class="btn btn-default">
                                    Last Date :   @s.bh_end_date.ToString("dd-MM-yyyy")
                                </div>
                                <button class="btn btn-info" onclick="location.href='@Url.Action("Index", "Registor", new { id = s.bh_id , end_date = s.bh_end_date })'">Registor</button>
                            </div>
                        }
                        else
                        {
                            <div class="card-text text-sm-center">
                                <div class="btn btn-danger">
                                    Registration seats full
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
                            }
    </div>*@


<style>
    span.error {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }

    .wht-color {
        color: white;
    }
  

    .message {
        display: none;
        position: fixed;
        z-index: 1;
        left: 40%;
    }


    .img-full-width {
        width: 100%;
        height: 300px;
    }

    .caption {
        position: relative;
        margin-bottom: 2%;
    }

        .caption h3 {
            margin: 0;
            color: #000;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            /* background: rgba(41, 82, 123, .8); */
            font-size: 15px;
        }


    .caption-2 {
        position: relative;
        margin-bottom: 2%;
    }

        .caption-2 h3 {
            margin: -1px 0 0 0;
            color: #fff;
            padding: 10px;
            /* background: rgba(41, 82, 123, 1); */
            font-size: 15px;
        }

    @@media (min-width:500px) {
        .caption-2 h3 {
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(41, 82, 123, .8);
        }

        .header {
            margin-top: 10px;
            padding: 10px;
            background-color: #ff9801;
            color: black;
        }

        .bottom {
            margin-top: -10px;
            padding: 10px;
            background-color: #ff9801;
            margin-bottom: 10px;
            color: black;
        }
        
    }

    @@media screen and (max-width: 600px) {
         .caption-2 h3 {
            margin: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(41, 82, 123, .8);
        }

        .header {
            margin-top: 10px;
            padding: 10px;
            background-color: #ff9801;
            color: black;
        }

        .bottom {
            margin-top: -10px;
            padding: 10px;
            background-color: #ff9801;
            margin-bottom: 10px;
            color: black;
        }
    }

    .header {
        /*border: 1px solid red;*/
        padding: 10px;
        background-color: #addbe7;
        color: black;
    }

    .bottom {
        margin-top: -10px;
        padding: 10px;
        background-color: #addbe7;
        color: black;
    }
    .header-font{
        font-family: 'Pacifico', cursive;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#search').click(function (e) {
            e.preventDefault();
            isAllValid = true;

            if ($('#batch_name option:selected').val() == 0) {
                isAllValid = false;
                $('.batch_name .error').css('display', 'block');
            }
            else {
                $('.batch_name .error').css('display', 'none');
            }

            if ($('#ID_cardno').val() == '') {
                isAllValid = false;
                $('.ID_cardno .error').css('display', 'block');
            }
            else {
                $('.ID_cardno .error').css('display', 'none');
            }

            if (isAllValid) {
                $.ajax({
                    type: 'POST',
                    url: '/CoursesDetails/check_user_status',
                    data: {
                        'bh_id': $('#batch_name option:selected').val(),
                        'IDCardno': $('#ID_cardno').val(),
                    }
                  ,
                    success: function (resp) {
                        if (resp.status == "W") {
                            $('.message').delay(100).fadeIn();
                            $('.message').delay(10000).fadeOut();
                            $('#message').removeClass('alert-danger alert-success').addClass('alert-warning');
                            $('#alt-msge').text("Your Request is waiting");
                        }
                        else if (resp.status == "A") {
                            $('.message').delay(100).fadeIn();
                            $('.message').delay(10000).fadeOut();
                            $('#message').removeClass('alert-danger alert-warning').addClass('alert-success');
                            $('#alt-msge').text("Your Request is Approved");

                        }
                        else {
                            $('.message').delay(100).fadeIn();
                            $('.message').delay(10000).fadeOut();
                            $('#alt-msge').text("Your Request is not found.");
                            $('#message').removeClass('alert-success alert-warning').addClass('alert-danger');
                        }
                    }

                });
            }

        });
    });
</script>
