
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div id="message" class="sufee-alert alert with-close alert-success alert-dismissible fade show message">
            <span class="badge badge-pill badge-success">Success</span>
            You successfully insert the record.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">Create Helper</div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group Helper_name">
                                            <label for="Helper_name" class="control-label mb-1">Helper Name:</label>
                                            <input type="text" class="form-control" id="Helper_name" />
                                            <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Enter a Helper Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group batch_name">
                                            <label for="batch_name" class="control-label mb-1">Course Name:</label>
                                            <select class="form-control" id="batch_name">
                                                <option value="0">--Select--</option>
                                                @foreach (var s in ViewBag.course as List<WebApplication1.Models.Batch_header>)
                                                {
                                                    <option value="@s.Bh_id">@s.Batch_Name</option>
                                                }
                                            </select>

                                            <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Enter a Course Name</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group List_name">
                                            <label for="List_name" class="control-label mb-1">List Name:</label>
                                            <select class="form-control" id="List_name">
                                                <option value="0">--Select--</option>
                                                @foreach (var s in ViewBag.list as List<WebApplication1.Models.List_Header>)
                                                {
                                                    <option value="@s.List_id">@s.List_name</option>
                                                }
                                            </select>
                                            <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Enter a List Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group student">
                                            <label for="student" class="control-label mb-1">Student:</label>
                                            @*<input id="student" name="student" type="text" class="form-control" aria-required="true" aria-invalid="false">*@
                                            <select class="form-control" id="student">
                                                <option value="0">--Select--</option>
                                            </select>
                                            <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Select a Student</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group Helper">
                                            <label for="Helper" class="control-label mb-1">Helper:</label>
                                            <select class="form-control" id="Helper">
                                                <option value="0">--Select--</option>
                                            </select>
                                            <span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Select a Helper</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="Stud_id" style="visibility:hidden;" class="control-label mb-1">Student:</label>
                                        <button class="btn btn-success" id="add" type="button">Add</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-borderless table-striped table-earning table-responsive">
                                            <tbody id="details"></tbody>
                                        </table>
                                        <div id="orderItems">
                                            <table id="orderdetailsItems"></table>
                                            <span id="orderItemError" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <button id="save" class="btn btn-lg btn-info btn-block">
                                        <i class="fas fa-save"></i>&nbsp;
                                        <span>Save</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/Footer.cshtml")
        </div>
    </div>
</div>
<style>
    span.error {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }

    .message {
        display: none;
        position: fixed;
        z-index: 1;
        left: 40%;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#details').on('click', '.rm', function () {
            var row = $(this).parent().parent("tr");
            row.css('border', '1px solid red');
            var appd_val = row.find('.std_val').text();
            var appd_txt = row.find('.std_txt').text();
            
            $('#student').append($('<option></option>').val(appd_val).html(appd_txt));
            row.remove();

        });

        $('#List_name').change(function () {
            $('#Helper').empty();
            $.ajax({
                type: 'POST',
                url: '/New_Helper/Cas_stud_id',
                data: {
                    'id': $('#List_name').val(),
                }
                ,
                success: function (resp) {
                    console.log(resp);
                    $.each(resp, function (i, item) {
                        $('#Helper').append($('<option>', {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                },
                error: function (ex) {
                    alert('error')
                }
            });
        })

        $('#batch_name').change(function () {
            $('#student').empty();
            $.ajax({
                type: 'POST',
                url: '/New_Helper/Cascade_stud',
                data: {
                    'id': $('#batch_name').val(),
                }
                ,
                success: function (resp) {
                    $.each(resp, function (i, item) {
                        $('#student').append($('<option>', {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                },
                error: function (ex) {
                    alert('error')
                }
            });
        })


        $('#add').click(function (e) {
            e.preventDefault();
            isAllValid = true;

            if (($('#student').val().trim() == '') || $('#student option:selected').val() == 0) {
                isAllValid = false;
                $('.student .error').css('display', 'block');
            }
            else {
                $('.student .error').css('display', 'none');
            }

            if (($('#Helper').val().trim() == '') || $('#Helper option:selected').val() == 0) {
                isAllValid = false;
                $('.Helper .error').css('display', 'block');
            }
            else {
                $('.Helper .error').css('display', 'none');
            }

            if (isAllValid) {
                var student = $('#student :selected').val();
                var studenttext = $('#student option:selected').text();
                var std_text = '<td class="std_txt">' + studenttext + '</td>';
                var std_input = '<td class="std_val collapse">' + student + '</td>';

                var helper = $('#Helper option:selected').val();
                var helpertext = $('#Helper option:selected').text();
                var helper_text = '<td>' + helpertext + '</td>';
                var helper_input = '<td class="helper_val collapse">' + helper + '</td>';

                var remove_btn = '<td> <button type="button" class="rm btn btn-danger"><i class="fas fa-trash"></i></button> </td>';
                var detail_values = '<tr class="tr-row">' + std_input + std_text + helper_input + helper_text + remove_btn + '</tr>';
                $('#details').prepend(detail_values);

                $('#student option[value=' + student + ']').hide();
                $('#student option:selected').val(0);
                $('#orderItemError').text('');
            }
        });

        $('#save').click(function (e) {
            e.preventDefault();
            var isAllValid = true;

            if (($('#Helper_name').val().trim() == '')) {
                isAllValid = false;
                $('.Helper_name .error').css('display', 'block');
            }
            else {
                $('.Helper_name .error').css('display', 'none');
            }


            if ($('#batch_name option:selected').val() == 0) {
                isAllValid = false;
                $('.batch_name .error').css('display', 'block');
            }
            else {
                $('.batch_name .error').css('display', 'none');
            }

            if ($('#List_name option:selected').val() == 0) {
                isAllValid = false;
                $('.List_name .error').css('display', 'block');
            }
            else {
                $('.List_name .error').css('display', 'none');
            }

            var list = [];
            $('#details tr').each(function (index, ele) {
                var orderItem = {
                    stud_id: $('.std_val', this).text(),
                    hlp_stud_id: $('.helper_val', this).text(),
                }
                JSON.stringify(orderItem)
                list.push(orderItem);
            })
            if (list.length == 0) {
                $('#orderItemError').text('At least 1 record required.');
                isAllValid = false;
            }

            if (isAllValid) {
                var data = {

                    Helper_name:$('#Helper_name').val(),
                    bh_id: $('#batch_name').val(),
                    list_id: $('#List_name').val(),
                    Helper_dtl: list

                }
                debugger

                $.ajax({
                    type: 'POST',
                    url: '/New_Helper/Index',
                    data: {
                        'Helper_name': data.Helper_name,
                        'bh_id': data.bh_id,
                        'list_id': data.list_id,
                        'Helper_dtl': data.Helper_dtl,
                    }
                    ,
                    success: function (resp) {
                        if (resp.status) {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                            $('#Helper_name').val();
                            $('#batch_name,#List_name').val(0);
                            $('#Teacher_1,#Teacher_2').val();
                            $('#Helper,#student').empty();
                            $("#details").empty();

                        }
                        else {
                            alert('error');
                        }
                    }
                });
            }
        })
    });

</script>
