
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div id="message" class="sufee-alert alert with-close alert-success alert-dismissible fade show message">
            <span class="badge badge-pill badge-success">Success</span>
            You successfully insert the record.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-md-3" style="float:right;">
                                <a id="save" href="#" class="btn btn-lg btn-info btn-block">
                                    <i class="fas fa-save"></i>&nbsp;
                                    <span>Save</span>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Create Helper</h3>
                            </div>
                            <hr>


                            <form>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group Batch_Name">
                                            <label for="Batch_Name" class="form-control-label">Course Name:</label>
                                            <select class="form-control" id="Batch_Name">
                                                @foreach (var std in ViewBag.cordropdown as List<WebApplication1.Models.Batch_header>)
                                                {
                                                    <option value="@std.Bh_id">@std.Batch_Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>



                                    <div class="col-md-3">
                                        <div class="form-group Helper">
                                            <label for="Helper" class="form-control-label">Helper:</label>
                                            <select class="form-control" id="Helper">
                                                @foreach (var std in ViewBag.stddropdown as List<WebApplication1.Models.Student>)
                                                {
                                                    <option value="@std.Stud_id">@std.Stud_name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>


                                <div class="row form-group">
                                    <div class="col col-sm-2">
                                        <label for="input-small" class=" form-control-label">Add Student:</label>
                                    </div>

                                    <div class="col col-sm-8">
                                        <select class="input-sm form-control-sm form-control" id="Amount">
                                            @foreach (var std in ViewBag.stddropdown as List<WebApplication1.Models.Student>)
                                            {
                                                <option value="@std.Stud_id">@std.Stud_name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col col-sm-2">
                                        <a href="#" class="btn btn-success add" id="add">Add</a>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="table-responsive table--no-card m-b-30">
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                    <th>Students</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="details"></tbody>
                                        </table>
                                        <div id="orderItems">
                                            <table class="table table-responsive" id="orderdetailsItems"></table>
                                            <span id="orderItemError" style="color:red"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/Footer.cshtml")
        </div>
    </div>
</div>
<style>
    span.error {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }

    .message {
        display: none;
        position: fixed;
        z-index: 1;
        left: 40%;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#add').click(function () {
            var AllValid = true;
            if (AllValid) {

                var Amount = $('#Amount').val().trim();
                var Amounttext = $('#Amount option:selected').text();
                var Amount_text = '<td>' + Amounttext + '</td>';
                var Amount_input = '<input type="text" id="at" class="at form-control" value=' + Amount + ' />';
                var remove_btn = '<td> <button type="button" data-dismiss=' + Amount + ' class="rm btn btn-danger">x</button> </td>';

                var detail_values = '<tr class="tr-row"><td class="collapse">' + Amount_input + '</td> ' + Amount_text + remove_btn + '</tr>';
                $('#details').prepend(detail_values);

                $('#orderItemError').text('');
            }
        });


        $('#details').on('click', '.rm', function () {
            var row = $(this).parent().parent("tr");
            row.remove();
        });


        $('#save').click(function () {
            var isAllValid = true;
            var list = [];
            $('#details tr').each(function (index, ele) {

                var orderItem = {
                    stu_id: $('.at', this).val()
                }

                JSON.stringify(orderItem)
                list.push(orderItem);

            })

            if (list.length == 0) {
                $('#orderItemError').text('At least 1 record required.');
                isAllValid = false;
            }
            if (isAllValid) {


                var data = {
                    Bh_id: $('#Batch_Name').val(),
                    stu_id: $('#Helper').val(),

                    Helper_dtl: list
                }
                debugger

                $.ajax({
                    type: 'POST',
                    url: '/Helper/Index',
                    data: {
                        'Batch_Name': data.Bh_id,
                        'stu_id': data.stu_id,
                        'Helper_dtl': data.Helper_dtl
                    }
                    ,
                    success: function (resp) {
                        if (resp.status) {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                            $('#Batch_Name,#Zoom').val('');
                            $("#details").empty();
                            if (list.length > 0) {
                                $('#orderItemError').text('');
                            }
                        }
                        else {
                            alert('error');
                        }
                    }
                });
            }
        })
    });
</script>