@model List<WebApplication1.Models.AP_Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div id="message" class="sufee-alert alert with-close alert-success alert-dismissible fade show message">
                <span id="alt-msge">
                    hellow world
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">overview</h2>
                    </div>
                </div>
            </div>
            @if (Convert.ToInt32(Session["Role_id"]) == 1)
            {

                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fas fa-users"></i>
                                        @*<i class="fa fa-gavel fa-6x" aria-hidden="true"></i>*@
                                    </div>
                                    <div class="text">
                                        <h2>@ViewBag.allusers</h2>
                                        <span>Users</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        @*<i class="fas fa-box-open fa-6x" aria-hidden="true"></i>*@
                                        <i class="fas fa-book-open"></i>
                                    </div>
                                    <div class="text">
                                        <h2>@ViewBag.allcourses</h2>
                                        <span>Courses</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c3">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        @*<i class="fas fa-comment-dollar fa-6x" aria-hidden="true"></i>*@
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="text">
                                        <h2>@ViewBag.allhelper</h2>
                                        <span>Helpers</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c4">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="far fa-clipboard"></i>
                                    </div>
                                    <div class="text">
                                        <h2>@ViewBag.attendance</h2>
                                        <span>Attendance</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>S/No.</th>
                                <th>Course</th>
                                <th>Teacher</th>
                                <th>Password</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int idx = 1; }
                            @{ var current_date = DateTime.Now.Date;}
                            @foreach (var s in ViewBag.attendnce as List<WebApplication1.Models.Attendance_data>)
                            {
                                <tr>
                                    <td>@idx</td>
                                    <td class="att_id collapse">@s.att_id</td>
                                    <td class="batch">@s.Batch_name</td>
                                    <td>@s.Teach_name</td>
                                    @if(s.att_created.Date == current_date)
                                    {
                                    <td class="password"><input type="password" id="pass" class="form-control pass"/><span class="error"><i class="fas fa-exclamation-circle"></i>&nbsp; Enter a Attendance Password</span></td>
                                    <td>
                                        <button class="item btn btn-primary submit" data-toggle="tooltip" data-placement="top" id="submit">
                                            Submit
                                        </button>
                                    </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }
                                </tr>
                                idx++;
                            }
                        </tbody>
                    </table>
                </div>
                                }
            @Html.Partial("~/Views/Shared/Footer.cshtml")
        </div>
    </div>
</div>
<style>
    span.error {
        display: none;
        color: #d93025;
        font-size: 80%;
        margin-top: 3px;
    }
    #message{
        display:none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        $('.submit').click(function () {
            var isAllValid = true;

            var row = $(this).parent().parent("tr");
            var findval = row.find('.pass').val();
            var finderror = row.find('span.error');

            if(findval == '')
            {
                isAllValid = false;
                finderror.css('display', 'block');
            }
            else
            {
                finderror.css('display', 'none');
            }

            if (isAllValid) {
               var att_id= row.find('.att_id').text();
               var pass = row.find('.pass').val();
                var data = {

                    id: att_id,
                    pass: pass,
                    
                }
                debugger

                $.ajax({
                    type: 'POST',
                    url: '/Dashboard/AttInsert',
                    data: {
                        'id': data.id,
                        'pass': data.pass,
                    }
                    ,
                    success: function (resp) {
                        if (resp.status =="done") {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                            $('#message').removeClass('alert-danger').addClass('alert-success');
                            $('#alt-msge').text("Your attendance mark on this session");
                        }
                        else if (resp.status == "dup")
                        {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                            $('#message').removeClass('alert-success').addClass('alert-danger');
                            $('#alt-msge').text("you already mark the attendance of this session today");
                        }
                        else {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                            $('#message').removeClass('alert-success').addClass('alert-danger');
                            $('#alt-msge').text("Something is wrong please contant your admin");
                        }
                    }

                });

            }

        })
    });
</script>
