
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Report.cshtml";
}
<h2 class="text-center">Tajweed Essential</h2>
<div class="card" id="reportscrn">
    <div class="card-header text-center">
        <strong class="card-title">
            @*From Date : @ViewBag.From_date.ToString("dd-MM-yyyy") &nbsp;&nbsp; To Date: @ViewBag.to_date.ToString("dd-MM-yyyy") <br />*@
            
        </strong>
        <div style="margin-left:30px;">
            <strong>
                Student Report
            </strong>
            </div>
            <a href="@Url.Action("ExportToExcel", "Student_Report", new { Courses = ViewBag.courses, Student= ViewBag.Student , Coursesname = ViewBag.Coursesname, batch_name = ViewBag.BatchName })" class="btn btn-success" style="float:right;">Excel</a>
            <button id="Printbtn" class="btn btn-primary" style="float:right;" onclick="window.print()">Print</button>
        </div>

    <div class="card-body">
        <div class="typo-headers">
            <h4 class="pb-2 display-5">
                Course Name : @ViewBag.BatchName     Status: @ViewBag.course  
            </h4>
        </div>
        <div class="">
            <table class="table-responsive table">
                <thead>
                    <tr>
                        <td><b>S/No.</b></td>
                        <td><b>Student Name</b></td>
                        <td><b>E-mail</b></td>
                        <td><b>Contact</b></td>
                        <td><b>Date of Birth</b></td>
                        <td><b>ID Card</b></td>
                        <td><b>Recommended</b></td>
                        <td><b>City / Country</b></td>

                    </tr>
                </thead>
                <tbody>
                    @{int indx = 1; }
                    @foreach (var s in ViewBag.reg as List<WebApplication1.Models.Registor>)
                    {
                        <tr>
                            <td>@indx</td>
                            <td>@s.Full_Name</td>
                            <td>@s.email</td>
                            <td>@s.contact</td>
                            <td>@s.DOB.ToString("dd-MM-yyyy")</td>
                            <td>@s.IDCardNo</td>
                            <td>@s.recommended</td>
                            <td>@s.Country &nbsp;&nbsp;@s.City</td>
                        </tr>
                        indx++;
                    }
                </tbody>
            </table>
        </div>



    </div>
</div>
