
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Report.cshtml";
}

<h2 class="text-center">Tajweed Essential</h2>
<div class="card" id="reportscrn">
    <div class="card-header text-center">
        <strong class="card-title">
            @*From Date : @ViewBag.From_date.ToString("dd-MM-yyyy") &nbsp;&nbsp; To Date: @ViewBag.to_date.ToString("dd-MM-yyyy") <br />*@
            Helper Report
        </strong>
        <button id="Printbtn" class="btn btn-primary" style="float:right;" onclick="window.print()">Print</button>
    </div>

    <div class="card-body">
        <div class="typo-headers">
            <h4 class="pb-2 display-5">
                Course Name : @ViewBag.Courses_text
                @*&nbsp;&nbsp;&nbsp; Course Expired:
                    @if (ViewBag.att_report_ed_date == "ALL")
                    {
                        @ViewBag.att_report_ed_date
                    }
                    else
                    {
                        @ViewBag.att_report_ed_date.ToString("dd-MM-yyyy")

                    }*@
            </h4>



        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <td><b>S/No.</b></td>
                        <td><b>Student Name</b></td>
                        <td><b>Student Contact</b></td>
                        <td><b>Helper Name</b></td>
                        <td><b>Helper Contact</b></td>
                    </tr>
                </thead>
                <tbody>
                    @{int indx = 1; }
                    @foreach (var s in ViewBag.helperdtl as List<WebApplication1.Models.Helper_dtl>)
                    {
                        <tr>
                            <td>@indx</td>
                            <td>@s.stud_name</td>
                            <td>@s.stud_contact</td>
                            <td>@s.Hlper_name</td>
                            <td>@s.hlper_contact</td>
                        </tr>
                        indx++;
                    }
                </tbody>
            </table>
        </div>



    </div>
</div>
