
@{
    ViewData["Title"] = "Index";
    Layout = "login";
}

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2">
    <div class="logo">
        <a href="#">
            <img src="images/icon/logo-white.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
        <div class="account2">
            <div class="image img-cir img-120">
                <img src="images/icon/avatar-big-01.jpg" alt="John Doe" />
            </div>
            <h4 class="name">john doe</h4>
            <a href="#">Sign out</a>
        </div>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard 1
                            </a>
                        </li>
                        <li>
                            <a href="index2.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard 2
                            </a>
                        </li>
                        <li>
                            <a href="index3.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard 3
                            </a>
                        </li>
                        <li>
                            <a href="index4.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard 4
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="inbox.html">
                        <i class="fas fa-chart-bar"></i>Inbox
                    </a>
                    <span class="inbox-num">3</span>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-basket"></i>eCommerce
                    </a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-trophy"></i>Features
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables
                            </a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms
                            </a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar
                            </a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Pages
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="login.html">
                                <i class="fas fa-sign-in-alt"></i>Login
                            </a>
                        </li>
                        <li>
                            <a href="register.html">
                                <i class="fas fa-user"></i>Register
                            </a>
                        </li>
                        <li>
                            <a href="forget-pass.html">
                                <i class="fas fa-unlock-alt"></i>Forget Password
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>UI Elements
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="button.html">
                                <i class="fab fa-flickr"></i>Button
                            </a>
                        </li>
                        <li>
                            <a href="badge.html">
                                <i class="fas fa-comment-alt"></i>Badges
                            </a>
                        </li>
                        <li>
                            <a href="tab.html">
                                <i class="far fa-window-maximize"></i>Tabs
                            </a>
                        </li>
                        <li>
                            <a href="card.html">
                                <i class="far fa-id-card"></i>Cards
                            </a>
                        </li>
                        <li>
                            <a href="alert.html">
                                <i class="far fa-bell"></i>Alerts
                            </a>
                        </li>
                        <li>
                            <a href="progress-bar.html">
                                <i class="fas fa-tasks"></i>Progress Bars
                            </a>
                        </li>
                        <li>
                            <a href="modal.html">
                                <i class="far fa-window-restore"></i>Modals
                            </a>
                        </li>
                        <li>
                            <a href="switch.html">
                                <i class="fas fa-toggle-on"></i>Switchs
                            </a>
                        </li>
                        <li>
                            <a href="grid.html">
                                <i class="fas fa-th-large"></i>Grids
                            </a>
                        </li>
                        <li>
                            <a href="fontawesome.html">
                                <i class="fab fa-font-awesome"></i>FontAwesome
                            </a>
                        </li>
                        <li>
                            <a href="typo.html">
                                <i class="fas fa-font"></i>Typography
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap2">
                    <div class="logo d-block d-lg-none">
                        <a href="#">
                            <img src="images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                    </div>
                    <div class="header-button2">
                        <div class="header-button-item js-item-menu">
                            <i class="zmdi zmdi-search"></i>
                            <div class="search-dropdown js-dropdown">
                                <form action="">
                                    <input class="au-input au-input--full au-input--h65" type="text" placeholder="Search for datas &amp; reports..." />
                                    <span class="search-dropdown__icon">
                                        <i class="zmdi zmdi-search"></i>
                                    </span>
                                </form>
                            </div>
                        </div>
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown js-dropdown">
                                <div class="notifi__title">
                                    <p>You have 3 Notifications</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a email notification</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c2 img-cir img-40">
                                        <i class="zmdi zmdi-account-box"></i>
                                    </div>
                                    <div class="content">
                                        <p>Your account has been blocked</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c3 img-cir img-40">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a new file</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__footer">
                                    <a href="#">All notifications</a>
                                </div>
                            </div>
                        </div>
                        <div class="header-button-item mr-0 js-sidebar-btn">
                            <i class="zmdi zmdi-menu"></i>
                        </div>
                        <div class="setting-menu js-right-sidebar d-none d-lg-block">
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing
                                    </a>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-globe"></i>Language
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-pin"></i>Location
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-email"></i>Email
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-notifications"></i>Notifications
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">Credit Card</div>
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center title-2">Pay Invoice</h3>
                                </div>
                                <hr>
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">

                                            <div class="form-group">
                                                <label for="Batch_Name" class="control-label mb-1">Batch Name:</label>
                                                <input id="Batch_Name" name="Batch_Name" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="Batch Name">
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="Teacher" class="control-label mb-1">Teacher Name:</label>
                                            <select class="form-control" id="Teacher">
                                                @foreach (var tech in ViewBag.Teachdropdown as List<Tajweed.Models.Teacher>)
                                                {
                                                    <option value="@tech.Teach_id">@tech.Teach_name</option>
                                                }

                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="Volunteer" class="control-label mb-1">Volunteer:</label>
                                            <select class="form-control" id="Volunteer">
                                                @foreach (var std in ViewBag.stddropdown as List<Tajweed.Models.Student>)
                                                {
                                                    <option value="@std.Stud_id">@std.Stud_name</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="Zoom" class="control-label mb-1">Zoom:</label>
                                                <input id="Zoom" name="Zoom" placeholder="Zoom" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10">
                                            <label for="Amount" class="control-label mb-1">Add Student:</label>
                                            @*<input id="Amount" name="Amount" placeholder="Zoom" type="text" class="form-control" aria-required="true" aria-invalid="false">*@
                                            <select class="form-control" id="Amount">
                                                @foreach (var std in ViewBag.stddropdown as List<Tajweed.Models.Student>)
                                                {
                                                    <option value="@std.Stud_id">@std.Stud_name</option>
                                                }
                                            </select>
                                            @*<input type="text" id="Amount" class="Amount" />*@
                                        </div>
                                        <div class="col-md-2">
                                            <label for="Amount" class="control-label mb-1">&nbsp;&nbsp;&nbsp;</label>
                                            <a href="#" class="btn btn-success add" id="add">Add</a>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-lg-6">
                                        <!-- TOP CAMPAIGN-->
                                        <div class="top-campaign">
                                            <h3 class="title-3 m-b-30">Students</h3>
                                            <div class="table-responsive">
                                                <table class="table table-top-campaign display" id="example" style="text-align:left !important;">
                                                    <tbody id="details">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--  END TOP CAMPAIGN-->
                                    </div>

                                    <div>
                                        <button id="Save" type="button" class="btn btn-lg btn-info btn-block">
                                            <i class="fa fa-lock fa-lg"></i>&nbsp;
                                            <span id="payment-button-amount">Pay $100.00</span>
                                            <span id="payment-button-sending" style="display:none;">Sending…</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $('#add').click(function () {
            var AllValid = true;


            //if (!($('#Item-Name').val().trim() != '')) {
            //    AllValid = false;
            //    $('#Item-Name').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#Item-Name').siblings('span.error').css('visibility', 'hidden');
            //}


            //if (!($('#Quantity').val().trim() != '')) {
            //    AllValid = false;
            //    $('#Quantity').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#Quantity').siblings('span.error').css('visibility', 'hidden');
            //}


            //if (!($('#Rate').val().trim() != '')) {
            //    AllValid = false;
            //    $('#Rate').siblings('span.error').css('visibility', 'visible');
            //}
            //else {
            //    $('#Rate').siblings('span.error').css('visibility', 'hidden');
            //}




            if (AllValid) {

                var Amount = $('#Amount').val().trim();
                var Amounttext = $('#Amount option:selected').text();
                var Amount_text = '<td>' + Amounttext + '</td>';
                var Amount_input = '<input type="text" id="at" class="at form-control collapse" value=' + Amount + ' />';
                var remove_btn = '<td> <a class="btn btn-danger rm">x</a> </td>';

                var detail_values = '<tr><td>' + Amount_input + '</td> ' + Amount_text + remove_btn+ '</tr>';
                $('#details').prepend(detail_values);


                //diable amount
                //$('.at').prop("disabled", true);

                //auto generate Serial number
                //var sno = parseInt($('#SNO').val()) + 1;
                //$('#SNO').val(sno);

                //empty all values
                //$('#Item-Name,#Quantity,#Amount,#Rate').val('');

            }
        });

        $('.rm').click(function () {
            //var row = $(this).parent().parent("tr");
            //var onerow = row.find('at').val();
            alert('click');
            //row.css('border', '1px solid red;');

        });


        $('#Save').click(function () {


            var isAllValid = true;


            //if (!($('#uname').val().trim() != '')) {
            //    isAllValid = false;
            //    $('.uname .error').css('display', 'block');
            //}
            //else {
            //    $('.uname .error').css('display', 'none');
            //}


            //if (!($('#pwd').val().trim() != '')) {
            //    isAllValid = false;
            //    $('.pwd .error').css('display', 'block');
            //}
            //else {
            //    $('.pwd .error').css('display', 'none');
            //}



            debugger

            if (isAllValid) {

                var isAllvalid = true;
                var list = [];
                $('#details tr').each(function (index, ele) {
                    var orderItem = {
                        stu_id: $('.at', this).val()
                    }

                    JSON.stringify(orderItem)
                    list.push(orderItem);

                })

                var data = {

                    Batch_Name: $('#Batch_Name').val(),
                    Teacher: $('#Teacher').val(),
                    Volunteer: $('#Volunteer').val(),
                    Zoom: $('#Zoom').val(),

                    Batch_details: list
                }
                debugger

                $.ajax({
                    type: 'POST',
                    url: '/Batch/Index',
                    data: {
                        'Batch_Name': data.Batch_Name,
                        'Teacher': data.Teacher,
                        'Volunteer': data.Volunteer,
                        'Zoom': data.Zoom,
                        'Batch_details': data.Batch_details
                    }
                    //,
                    @*success: function (response) {
                        if (response.success) {
                            var baseUrl = "@Url.Action("Index","Dashboard")";
                            window.location.href = baseUrl;
                        }
                        else {
                            $('.message').delay(300).fadeIn();
                            $('.message').delay(200).fadeOut();
                        }
                    }*@

                });

            }


        })
    });
</script>