
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Report.cshtml";
}

<h2 class="text-center">Tajweed Essential</h2>
<div class="card" id="reportscrn">
    <div class="card-header text-center">
        <strong class="card-title">
            From Date : @ViewBag.From_date.ToString("dd-MM-yyyy") &nbsp;&nbsp; To Date: @ViewBag.to_date.ToString("dd-MM-yyyy") <br />
            Attendance Report
        </strong>
        <button id="Printbtn" class="btn btn-primary" style="float:right;" onclick="window.print()">Print</button>
    </div>

    <div class="card-body">
        <div class="typo-headers">
            <h4 class="pb-2 display-5">Course Name : @ViewBag.att_report_batch_name &nbsp;&nbsp;&nbsp; Course Expired: @ViewBag.att_report_ed_date.ToString("dd-MM-yyyy")</h4>
            
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <td><b>S/No.</b></td>
                        <td><b>Student ID</b></td>
                        <td><b>Attendance Date</b></td>
                        <td><b>Student Name</b></td>
                        <td><b>Attendance Status</b></td>
                    </tr>
                </thead>
                <tbody>
                    @{int indx = 1; }
                    @foreach (var s in ViewBag.Att_Report as List<WebApplication1.Models.Att_Report>)
                    {
                        <tr>
                            <td>@indx</td>
                            <td>@s.stud_id</td>
                            <td>@s.created_date.ToString("dd-MMM-yyyy")</td>
                            <td>@s.Stud_name</td>
                            @if (s.att_status == 'P'.ToString())
                            {
                                <td style="color:green;">Present</td>
                            }
                            else
                            {
                                <td style="color:orangered;">Absent</td>
                            }
                        </tr>
                        indx++;
                    }
                </tbody>
            </table>
        </div>



    </div>
</div>
