@model List<WebApplication1.Models.AP_Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    
                </div>

                <div class="col-md-4">
                    <div class="">
                        <input type="text" id="Search" class="form-control" placeholder="Search" />
                    </div>
                </div>
            </div>
            
            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>S/No.</th>
                                    <th>User Name</th>
                                    <th>Recommended</th>
                                    <th>Contact No.</th>
                                    <th>ID No.</th>
                                    <th>User Status</th>
                                </tr>
                            </thead>
                            @{ int inde = 1;}
                            <tbody id="std_table">
                                @foreach(var userdata in ViewBag.userdata as List<WebApplication1.Models.Registor>)
                                {
                                <tr>
                                    <td>
                                        <div class="table-data-feature">
                                            @if (userdata.User_status == "W")
                                            {
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Approve" onclick="location.href='@Url.Action("Approved", "User_Status", new { id =userdata.User_id, bh_id = userdata.bh_id})'">
                                                    <i class="zmdi zmdi-check"></i>
                                                </button>
                                            }
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick="location.href='@Url.Action("DeleteUser", "User_Status", new { id =userdata.User_id, bh_id = userdata.bh_id})'">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>@inde</td>
                                    <td>@userdata.Full_Name</td>
                                    <td>@userdata.email</td>
                                    <td>@userdata.M_W_no</td>
                                    <td>@userdata.IDCardNo</td>
                                    @if(userdata.User_status == "W")
                                    {
                                        <td>Waiting</td>
                                    }
                                    else
                                    {
                                        <td>Approved</td>
                                    }
                                   
                                </tr>
                                    inde++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#Search").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#std_table tr").filter(function () {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>