@model List<WebApplication1.Models.AP_Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div id="message" class="sufee-alert alert with-close alert-success alert-dismissible fade show message">
            <span class="badge badge-pill badge-success">Success</span>
            You successfully Update the record.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    @*<h3>@ViewBag.Batch_name</h3>*@
                    <h3>@ViewBag.Batch_name</h3>
                </div>
                <div class="col-md-4">

                </div>

                <div class="col-md-4">
                    <div class="">
                        <input type="text" id="Search" class="form-control" placeholder="Search" />
                    </div>
                </div>
            </div>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>

                                    <th>Approved</th>
                                    <th class="status-sn">S/No.</th>
                                    <th>Student Name</th>
                                    <th>Reference</th>
                                    <th>Contact No.</th>
                                    @if (Session["Role_id"].ToString() == "1")
                                    {
                                        <th></th>
                                    }
                                    @*<th>ID No.</th>*@
                                    @*<th>User Status</th>*@
                                </tr>
                            </thead>
                            @{ int inde = 1;}
                            <tbody id="std_table">
                                @foreach (var userdata in ViewBag.userdata as List<WebApplication1.Models.Registor>)
                                {
                                    <tr>
                                        @if (Session["Role_id"].ToString() == "1")
                                        {
                                            <td>
                                                @if (userdata.Usr_stat_intview == "Y")
                                                {
                                                    <label>
                                                        <input type="checkbox" name="Usr_stat_intview" class="Usr_stat_intview" checked />Interv.
                                                    </label>
                                                }
                                                else
                                                {<label>
                                                <input type="checkbox" name="Usr_stat_intview" class="Usr_stat_intview" />Interv.
                                            </label>

                                                }

                                                @if (userdata.Usr_stat_pur_books == "Y")
                                                {
                                                    <label>
                                                        <input type="checkbox" name="Usr_stat_pur_books" class="Usr_stat_pur_books" checked />Books<br />
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label>
                                                        <input type="checkbox" name="Usr_stat_pur_books" class="Usr_stat_pur_books" />Books<br />
                                                    </label>
                                                }

                                                @if (userdata.Usr_stat_Group == "Y")
                                                {<label>
                                                <input type="checkbox" name="Usr_stat_Group" class="Usr_stat_Group" checked />Group<br />
                                            </label>

                                                }
                                                else
                                                {
                                                    <label>
                                                        <input type="checkbox" name="Usr_stat_Group" class="Usr_stat_Group" />Group<br />
                                                    </label>
                                                }


                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @if (userdata.Usr_stat_intview == "Y" && userdata.Usr_stat_pur_books == "Y" && userdata.Usr_stat_Group == "Y")
                                                {
                                                    <label>
                                                        Approved
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label>
                                                        UnApproved
                                                    </label>
                                                }
                                            </td>
                                        }
                                        <td class="userid collapse">@userdata.User_id</td>
                                        <td class="status-sn">@inde</td>
                                        <td>@userdata.Full_Name</td>
                                        <td>@userdata.email</td>
                                        <td>@userdata.M_W_no</td>
                                        @if (Session["Role_id"].ToString() == "1")
                                        {
                                            <td>
                                                <div class="table-data-feature">
                                                    <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Update" onclick="location.href='@Url.Action("Index", "UsersData_Update", new { id = userdata.User_id, bh_name = ViewBag.Batch_name })'">
                                                        Edit
                                                    </button>
                                                    &nbsp;
                                                    @*@if (userdata.User_status == "W")
                                                        {
                                                            <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Approve" onclick="location.href='@Url.Action("Approved", "User_Status", new { id =userdata.User_id, bh_id = userdata.bh_id, bh_name = ViewBag.Batch_name})'">
                                                                Approve
                                                            </button>
                                                        }*@
                                                    &nbsp;
                                                    <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="var r=confirm('Do you Really want to Delete this record?'); if(r == true){ location.href='@Url.Action("DeleteUser", "User_Status", new { id = userdata.User_id, bh_id = userdata.bh_id, bh_name = ViewBag.Batch_name })'}">
                                                        Reject
                                                    </button>
                                                </div>
                                            </td>
                                        }
                                        @*<td>@userdata.IDCardNo</td>*@
                                        @*@if(userdata.User_status == "W")
                                            {
                                                <td>Waiting</td>
                                            }
                                            else
                                            {
                                                <td>Approved</td>
                                            }*@

                                    </tr>
                                    inde++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .message {
        display: none;
    }

    @@media screen and (max-width: 987px) {
        .status-sn {
            display: none;
        }
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        //$('#users').DataTable();

        $("#Search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#std_table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


        $('#std_table').on('click', '.Usr_stat_intview', function () {
            var row = $(this).parent().parent().parent("tr");
            //row.css('border', '1px solid red');
            var row2 = row.find('.Usr_stat_intview');
            var userid = row.find('.userid').text();

            var intervew = '';

            if (row2.is(":checked")) {
                intervew = 'Y';
            }
            else {
                intervew = 'N';
            }

            $.ajax({
                type: 'POST',
                url: '/User_Status/Interview',
                data: {
                    'Userid': userid,
                    'Interview': intervew
                },
                success: function (resp) {
                    if (resp.status) {
                        $('.message').delay(300).fadeIn();
                        $('.message').delay(200).fadeOut();
                    }
                    else {
                        alert('Error')
                    }
                },
                error: function (ex) {
                    alert('error')
                }
            });

        });

        $('#std_table').on('click', '.Usr_stat_pur_books', function () {
            var row = $(this).parent().parent().parent("tr");
            //row.css('border', '1px solid red');
            var row2 = row.find('.Usr_stat_pur_books');
            var userid = row.find('.userid').text();

            var intervew = '';

            if (row2.is(":checked")) {
                intervew = 'Y';
            }
            else {
                intervew = 'N';
            }

            $.ajax({
                type: 'POST',
                url: '/User_Status/Books',
                data: {
                    'Userid': userid,
                    'Books': intervew
                },
                success: function (resp) {
                    if (resp.status) {
                        $('.message').delay(300).fadeIn();
                        $('.message').delay(200).fadeOut();
                    }
                    else {
                        alert('Error')
                    }
                },
                error: function (ex) {
                    alert('error')
                }
            });

        });


        $('#std_table').on('click', '.Usr_stat_Group', function () {
            var row = $(this).parent().parent().parent("tr");
            //row.css('border', '1px solid red');
            var row2 = row.find('.Usr_stat_Group');
            var userid = row.find('.userid').text();

            var intervew = '';

            if (row2.is(":checked")) {
                intervew = 'Y';
            }
            else {
                intervew = 'N';
            }

            $.ajax({
                type: 'POST',
                url: '/User_Status/Group',
                data: {
                    'Userid': userid,
                    'Group': intervew
                },
                success: function (resp) {
                    if (resp.status) {
                        $('.message').delay(300).fadeIn();
                        $('.message').delay(200).fadeOut();
                    }
                    else {
                        alert('Error')
                    }
                },
                error: function (ex) {
                    alert('error')
                }
            });

        });



    });
</script>
